body{
    margin: 0;
    background-color: #02223c;
}
.wrapper{
    padding: 50px;
    width: 90%;
    margin: 0 auto;
    position: relative;
}
header{
    margin-bottom: 0px;
    border-bottom-style: solid;
    border-bottom-width: 7px;
    border-color: #ffc425;
}
.wrapper2{
    display: flex;
    background-color: white;
    max-width: 100%;
    padding: 50px;
}
nav{
    width: 550px;
    width: 297px;
    height: 256px;
    background-color: #fff8e2;
    margin-top: 60px;
}
ul{
}
li{
    font-family: helvetica, arial;
    font-size: 13pt;
    color: #02223c;
    list-style-type: none;
    border-bottom-style: solid;
    border-bottom-color: #f4e4b0;
    border-bottom-width: 1px;
    margin-top: 20px;
    margin: 33px 0;
    padding-right: 10px
}
.copy{
    width: 90%;
    margin-left: 50px;
}
p{
    font-size: 15pt;
}
img{
    vertical-align: bottom;
    margin-bottom: 20px;
}
h1{
    display: inline-flex;
    font-family: helvetica, arial;
    color: #ffc425;
    font-size: 40pt;
    margin-left: 10px;
    margin-bottom: 25px;   
}
h2{
    color: #02223c;
    font-size: 18pt;
    font-family: Georgia;
    margin-top: 60px;
    margin-bottom: -15px;
    margin-left: 0px;
}
footer{
    text-align: center;
    font-family: helvetica, arial;
    color: white;
    margin-top: 20px;
}