body{
    margin: 0;
    background-image: url("images/bgtile.png")
}
.wrapper{
    padding: 50px;
    max-width: 90%;
    margin-left: auto;
    margin-right: auto;
    position: relative;
    min-width: 300px;
}
header{
    margin-bottom: 0px;
}
.wrapper2{
    display: flex;
    align-items: flex-start;
    background-color: white;
    max-width: 100%;
    padding: 50px; 
    border-radius: 10px;
    border-top-style: solid;
    border-top-width: 7px;
    border-color: #ffc425;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    -webkit-box-shadow: 0px 0px 54px 9px rgba(151,194,228,1);
    -moz-box-shadow: 0px 0px 54px 9px rgba(151,194,228,1);
    box-shadow: 0px 0px 54px 9px rgba(151,194,228,1);
}
nav{
    width: 297px;
    background-color: #fff8e2;
    border-radius: 10px;
    -webkit-box-shadow: 6px 6px 10px -6px rgba(0,0,0,0.32);
    -moz-box-shadow: 6px 6px 10px -6px rgba(0,0,0,0.32);
    box-shadow: 6px 6px 10px -6px rgba(0,0,0,0.32);
}
.hamburger{
    padding: 0;
    border: none;
    background: none;
    font-size: 100px;
    display: none;
}
ul{
    margin-top: -10px;
}
li+li{
    border-top-style: solid;
    border-top-color: #f4e4b0;
    border-top-width: 1px;
    margin-right: 35px;
}
li{
    font-family: helvetica, arial;
    font-size: 13pt;
    color: #02223c;
    list-style-type: none;
    margin: 33px 0;
    padding-top: 18px;
    margin-bottom: -18px;
}
a{
    text-decoration: none;
}
a:hover {
    color: #ffc426;
}
.copy{
    margin-left: 50px;
}
p{
    font-size: 20px;
    font-family: georgia;
}
img{
    vertical-align: bottom;
    margin-bottom: -25px;
    margin-left: -25px;
    position: static;
}
h1{
    display: inline-flex;
    font-family: helvetica, heavy;
    color: #ffc425;
    font-size: 45pt;
    margin-left: 10px;
    margin-bottom: 25px;
    -ms-transform: rotate(-3deg);    
    -webkit-transform: rotate(-3deg); 
    transform: rotate(-3deg);
}
h2{
    color: #00457c;
    font-size: 25px;
    font-family: Georgia;
    margin-bottom: -15px;
    margin-top: 0;
}
footer{
    text-align: center;
    font-family: helvetica, arial;
    color: #8badc8;
    margin-top: 30px;
}
.mainnav{
    padding-bottom: 35px;
}
@media (max-width: 890px) {
    .wrapper2{
        flex-direction: column;
        align-items: center;
        margin-left: 0;
        padding-top: 0;
    }
    h1{
        font-size: 34px;
        transform: none;
        margin-bottom: 10px;
        margin-left: auto;
        margin-right: auto;
    }
    h2{
        font-size: 18px;
    }
    p{
        font-size: 15px;
    }   
    .hamburger{
        display: block;
        margin-left: 120px;
        height: .5em;
        line-height: .5em;
        margin-bottom: -20px;
        margin-top: -10px;
    }
    img{
        margin-left: 75px;
        margin-right: auto;
        margin-bottom: -15px;
        margin-top: -40px;
    }
    .copy{
        margin: 0;
        margin-top: 20px;
    }
    .mainnav{
    }
    nav{
        padding-bottom: 0;
    }
    .mainnav>ul{
        display: none;
    }
}
.mainnav>.active{
    display: block;
}